<p id="notice"><%= notice %></p>

<p>
  <b>Session:</b>
  <%= @message.session_id %>
</p>

<p>
  <b>Owner:</b>
  <%= @message.owner_id %>
</p>

<p>
  <b>Timestamp:</b>
  <%= @message.timestamp %>
</p>

<p>
  <b>Receiver:</b>
  <%= @message.receiver_id %>
</p>

<p>
  <b>Text:</b>
  <%= @message.text %>
</p>

<p>
  <b>Media:</b>
  <%= @message.media %>
</p>

<p>
  <b>Location:</b>
  <%= @message.location_id %>
</p>
<p>
  <b>Status:</b>
  <%= @message.status %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
