<% unless conversations.blank? %>

<% conversations.each_with_index do |session, sIndex|%>
<div id="<%= session.id %>" class="card_set<% if sIndex == 0%> current<% end %><% if session.status != "read"%> unread<%end%>"  data-id="<%= sIndex %>" style="z-index:<%= 100-sIndex%>; left:<%= 2*sIndex%>px; top:<%= 2*-sIndex%>px;">
	<% @active_messages = session.message %>

	<% @active_messages.each_with_index do |message, mIndex| %>

	<div id="<%= message.id %>" class="card <% if mIndex.even? %>front <%else%>back <%end%>">
		<div class="card_deck">
			<% logger.debug "-------- card_type " + card_type %>
			<% unless message.text.blank? && mIndex == 1 && message.owner_id == @current_user.id%>
				<div class="card_text">
					<p>
						<%= message.text %>
					</p>
				</div>
				<div class="card_date">
						<%= message.updated_at.strftime("%d.%m.%Y %H:%M") %>
				</div>
			<% else %>
				<%= form_for(message, :remote => true) do |f| %>
					<div class="field card_text">
						<%= f.text_area :text, :class => 'submittable', :style=>'width: 100%;' %>
					</div>
				<% end %>	
			<% end %>
		</div>
		<div class="card_banner<% if message.owner_id == @current_user.id%> you<%else%> someone<%end%>">
			<% if message.owner_id == @current_user.id && mIndex.even?%>
				<p>YOU ASKED</p>
			<% elsif message.owner_id == @current_user.id %>
				<% if message.text.blank? %>
				<p>YOUR ANSWER:</p>	
				<% else %>
				<p>YOU ANSWERED</p>
				<% end%>
			<% elsif message.owner_id != @current_user.id && mIndex.even? %>
				<p>SOMEBODY ASKED</p>
			<% elsif message.owner_id != @current_user.id && message.text.blank? != true %>
				<p>SOMEBODY ANSWERED</p>
			<% else %>
				<p>waiting...</p>
			<% end %> 	
		</div>
		
	</div>
	
	<% end %>
	<% if session.status != "read" || (session.status == "asked" && session.owner_id != @current_user.id) %>
			<div class="card_new_status">
			</div>
	<% end %>
</div>
<% end %>
<% else %>
<div id=">" class="card_set current"  data-id="" style="z-index:100; left:0px; top:0px;">
	<div id="0" class="card">
		<div class="card_deck">
				<div class="card_text">
					<p>
						no new Messages!
					</p>
				</div>
		</div>
	</div>
</div>

<% end %>
