<% unless conversations.blank? %>

<% conversations.each_with_index do |session, sIndex|%>
<div id="<%= sIndex %>" class="card_set<% if sIndex == 0%> current<% end %>"  data-id="<%= sIndex %>" style="z-index:<%= 100-sIndex%>; left:<%= 5*sIndex%>px; top:<%= 5*-sIndex%>px;">
	<% @active_messages = session.message %>

	<% @active_messages.each_with_index do |message, mIndex| %>

	<div id="<%= mIndex %>" class="card <% if mIndex.even? %>front side<%else%>back side<%end%>">
		<div class="card_deck">
			<% logger.debug "-------- card_type " + card_type %>
			<% unless card_type == "active_receiver_asked" && mIndex == 1 %>
				<% unless message.media_file_name.blank? %>
				<div class="card_image">
					<%= image_tag message.media.url(:small) %>
				</div>
				<% end %>
	
				<div class="card_text">
					<p>
						<%= message.text %>
					</p>
				</div>
			<% else %>
				<%= form_for(message, :remote => true) do |f| %>
					<div class="field card_text">
						<%= f.text_area :text, :class => 'submittable', :style=>'width: 100%;' %>
					</div>
				<% end %>

				
			<% end %>
		</div>
	</div>

	<% end %>
</div>
<% end %>

<% end %>
