<h1>Listing users</h1>

<table>
  <tr>
  	<th>ID</th>
    <th>Email</th>
    <th>Password</th>
    <th>Admin</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
  	<td><%= user.id %></td>
    <td><%= user.email %></td>
    <td><%= user.password_digest %></td>
     <td><%= user.admin %></td>
     
     
     <% if @actual_user.is_admin? %>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
    <% else %>
    <th></th>
    <th></th>
    <th></th>
    <%end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
