<h1>Login</h1>

<%= form_for( '/access/login') do |f| %>
<div class="field">
	<%= f.label :email %><br />
	<%= f.text_field :email %>
</div>
 <div class="field">
	<%= f.label :password_digest %><br />
	<%= f.password_field :password_digest %>
</div>

<div class="action">
	
	<%= f.submit 'Login'%>
</div>
<% end %>