<div id="wall">
	<div id="cards" class="side">

		<div class= "card_table">
			<div class= "card_table_center">
				<div id=">" class="card_set"  data-id="" style="z-index:100; left:0px; top:0px;">
					<div id="0" class="card">
						<div class="card_deck">
							<div class="card_title">Mobile Login</div>
							<%= form_for( '/access/login') do |f| %>
							<div class="card_text">
								
								<%= link_to 'Show Login', '#login', id:'login_toggle' %>
								<div class="login" style="display: none">
									<div class="field">
										<%= f.label :email, 'email or username'  %>
										<br />
										<%= f.text_field :email %>
									</div>
									<div class="field">
										<%= f.label :password_digest, 'password'%>
										<br />
										<%= f.password_field :password_digest %>
									</div>
								</div>

								<div class="action">

									<%= f.submit 'Login'%>
								</div>
								<% end %>
							</div>
						</div>
					</div>
				</div>
				

			</div>
		</div>
	</div>
</div>
