<!DOCTYPE html>
<html>
	<head>
		<title>ServiceDesign</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= stylesheet_link_tag "/jqtouch/themes/css/apple.css" %>
		<%= stylesheet_link_tag "/jqtouch/extensions/jqt.photo.css" %>
		<%= stylesheet_link_tag    "mobile", :media => "all" %>
		<%= javascript_include_tag "/jqtouch/src/lib/zepto.js" %>
		<%= javascript_include_tag "/jqtouch/src/jqtouch.min.js" %>
		<%= javascript_include_tag "/jqtouch/extensions/jqt.photo.js" %>
		<%= javascript_include_tag "/jqtouch/extensions/jqt.scroll.js" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div class="w980">			
			<div id="navi">
				<% unless @current_user.blank?%>
				<% if is_admin? %>
				<%= link_to 'Profile', users_path%>
				<% else %>
				<%= link_to 'Profile', user_path(@current_user)%>
				<% end %>
				<%= link_to 'Sessions', active_sessions_sessions_path %>
				<%= link_to 'new Message', new_session_path %>
				<%= link_to 'logout', access_logout_path%>
				<%= yield :navi %>
				<% end %>

			</div>
			<div id="content jqt">
			<%= yield %>
			</div>
		</div>
	</body>
</html>

<script>
	$(document).ready()
{
	getPosition();
	//window.setInterval("getPosition()",20000);
	
	
}
</script>
