<!DOCTYPE html>
<html>
	<head>
		<title>ServiceDesign</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=false" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />

		<%= stylesheet_link_tag "/jqtouch/themes/css/apple.css" %>
		<%= stylesheet_link_tag "/jqtouch/extensions/jqt.photo.css" %>
		<%= stylesheet_link_tag    "mobile", :media => "all" %>
		<%= javascript_include_tag "/jqtouch/src/lib/zepto.js" %>
		<%= javascript_include_tag "/jqtouch/src/jqtouch.min.js" %>
		<%= javascript_include_tag "/jqtouch/extensions/jqt.photo.js" %>
		<%= javascript_include_tag "/jqtouch/extensions/jqt.scroll.js" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		<script>
			$(document).ready() {
				getPosition();
				window.setInterval("getPosition()", 20000);
			}
		</script>

	</head>
	<body>
		<div class="w980">

			<div id="content jqt">
				<%= yield %>
			</div>
			<div id="navi">
				<% unless @current_user.blank?%>
				<% if is_admin? %>
				<%= link_to 'Profile', users_path%>
				<% else %>
				<%= link_to 'Profile', user_path(@current_user)%>
				<% end %>
				<%= link_to 'Sessions', active_sessions_sessions_path %>
				<%= link_to 'new Message', new_session_path %>
				<%= link_to 'logout', access_logout_path%>
				<%= yield :navi %>
				<% end %>

			</div>
		</div>
	</body>
</html>
