<!DOCTYPE html>
<html>
	<head>
		<title>ServiceDesign</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div class="w980">			
			<div id="navi">
				<% unless @current_user.blank?%>
				<%= link_to 'Profile', user_path(@current_user) %>
				<%= link_to 'Sessions', sessions_path %>
				<%= link_to 'logout', access_logout_path%>
				<%= yield :navi %>
				<% end %>

			</div>
			<div id="content">
			<%= yield %>
			</div>
		</div>
	</body>
</html>

<script>
	$(document).ready()
{
	console.log('test');
	getPosition();
	window.setInterval("getPosition()",20000);
	
	
}
	
</script>