<!DOCTYPE html>
<html>
	<head>
		<title>ServiceDesign</title>

		<meta name="viewport" content="width=device-width, maximum-scale=1.0, user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<link rel="apple-touch-icon" href="/assets/apple-touch-icon-57x57.png" />

		<%= stylesheet_link_tag    "mobile", :media => "all" %>
		<style type="text/css">
		@font-face {
			font-family: 'Conv_FairfieldLTStd-LightItalic';
			src: url('<%= asset_path('FairfieldLTStd-LightItalic.ttf')%>');
			font-weight: normal;
			font-style: normal;
		}
		@font-face {
			font-family: 'Conv_UniversLTStd-Cn';
			src: url('<%= asset_path('UniversLTStd-Cn.ttf')%>');
			font-weight: normal;
			font-style: normal;
		}
		</style>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	
	</head>
	<body>
		<div class="w980">

			<div id="content">
				<%= yield %>
			</div>
			<div id="navi" style="display:none">
				<% unless @current_user.blank?%>
				<% if is_admin? %>
				<%= link_to 'Profile', users_path,:remote => true, :id => "ajax_trigger"%>
				<% else %>
				<%= link_to 'Profile', user_path(@current_user),:remote => true, :id => "ajax_trigger" %>
				<% end %>
				<%= link_to 'Sessions', active_sessions_sessions_path%>
				<%= link_to 'new Message', new_session_path, :remote => true, :id => "ajax_trigger" %>
				<%= link_to 'logout', access_logout_path, :remote => true, :id => "ajax_trigger"%>
				<%= yield :navi %>
				<% end %>

			</div>
		</div>
	</body>
</html>
